<header class="max-lg:collapse bg-base-100 shadow-sm w-full rounded-md">
  <nav>
  <input id="navbar-toggle" class="peer hidden" type="checkbox" />


    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          
        </li>
        <li>
          <a routerLink="/students" routerLinkActive="menu-active">Programacion Plataformas web</a>
        </li>
        <li>
          <a routerLink="/layouts" routerLinkActive="menu-active">Leccion Angular</a>
        </li>
        <li>
          <a routerLink="/ui-components" routerLinkActive="menu-active">Jonnathan Parraga</a>
        </li>
        <li>
          <a routerLink="/total" routerLinkActive="menu-active">Simpsons</a>
        </li>
      </ul>
    </div>

    


</nav>
</header>
